@charset 'utf-8';
.login .container {
  background-color: none;
  
}
.login .container.bg_img{
  background-image: url('../images/bg1.jpg');
  -webkit-background-size:100% 100%;
  background-size:100% 100%;
  background-repeat:no-repeat;
  background-position:center;
}
.login .loginMian {
  height: 100%;
}
.login .loginForm {
  width: 30%;
  background: rgba(255,255,255,0.4);
  min-width: 500px;
  border-radius: 0.4em;
  -o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  min-height: 300px;
  padding: 0 100px;
}
.login .loginForm .logo {
  text-align: center;
  font-size: 22px;
  margin:30px auto;
}
.login .varify_code{
  position:absolute;right:4px;top:10px;color:#007bff;cursor:pointer;
}
.logo .active{

}
.logo img{
margin-left:30px;
}
.login .loginForm .logo img {
  width: auto;
  height: 30px;
}
.login .loginForm .input {
  margin-bottom: 15px;
}
.login .loginForm .input input {
  height: 40px;
  line-height: 40px;
}
.login .btnBox {
  margin: 20px 0 50px;
}
.login .btnBox button {
  width: 100%;
  height: 40px;
  line-height: 40px;
  padding: 0;
}
#Dynamic,#password{
  background-color: none;
    height:100%;
}
#Dynamic{
  background-color: rgba(0,0,0,0,0);
  height:100%;
}


form input[type="checkbox"],form input[type="radio"]{
    opacity: 0; 
    width:20px;
    height: 20px;
}
form input[type="checkbox"] + label::before,form input[type="radio"] + label::before {
content: '\a0'; /* non-break space */
display: inline-block;
vertical-align: center;
text-align: center;
width: 18px;
height:18px;
line-height: 17px;
width:20px;
height:20px;
border-radius: 4px;
position: relative;
cursor: pointer;
top:0px;
margin:0px 4px;
border:1px solid #999;
}

form input[type="checkbox"]:checked + label::before,form input[type="radio"]:checked + label::before {
content: '\2713';
font-weight: bold;
}

form input[type="checkbox"]:disabled + label::before,form input[type="radio"]:disabled + label::before {
background: gray;
box-shadow: none;
color: #555;
}
.layui-table-page {
    position: relative;
    width: 100%;
    padding: 7px 7px 0;
    height: 41px;
    font-size: 12px;
    white-space: nowrap;
    text-align: right;
}
.layui-laypage .layui-laypage-curr .layui-laypage-em {
    position: absolute;
    left: -1px;
    top: -1px;
    padding: 1px;
    width: 100%;
    height: 100%;
    background-color:#007bff;
}
.layui-form-checked[lay-skin=primary] i {
    border-color: #007bff!important;
    background-color: #007bff;
    color: #fff;
}
.layui-layer-btn .layui-layer-btn0 {
    border-color: #1E9FFF;
    background-color: #1E9FFF;
    color: #fff!important;
}
.layui-form-label {
    float: left;
    display: inline-block;
    padding: 9px 15px;
    width: auto;
    font-weight: 400;
    line-height: 20px;
    text-align: right;
}
.goods_img img{
  width:100px;
  height:100px;
}

.my-icon-search{
  position: absolute;top:8px;right: 18px;
}

.my-icon-del{
  position: absolute;top:8px;right: -5px;
}

.mr30{
  margin-right: 100px;
  margin-top:100px;
}
.mt60{
  margin-top:60px;
}

.form{
  margin-top:-20px;width:92%;
}

.exit-icon{
  width:30px;
  height:30px;
  background-color: white;
  background-image:url('../images/icon-exit@2x.png');
  background-repeat: no-repeat;
  background-position:center;
  background-size: 20px 20px;
  border-radius:100%;
  display: inline-block; 
}

.wrap-icon{
  display: inline-block;
  line-height: 20px;
  margin-top:15px;
}
.service-icon{
  width:30px;
  height:30px;
  background-color: white;
  background-image:url('../images/icon-service@2x.png');
  background-repeat: no-repeat;
  background-position:center;
  background-size: 20px 20px;
  border-radius:100%;
  display: inline-block; 
}
.icon-text{
  display: block;
  position: relative;
  top:-5px;
}
.user-icon{
  width:160px;
  position: relative;
  top:-2px;
  left:13px;
}
.user-icon img{
  width:100%;
  border-radius:100%;
}
.user-text{
  line-height:20px;
  text-align: left;
}
.user-icon .username{
  padding:0px;margin-top:8px;
}

.letter-content{
  width:100%;
  height: 250px;
  background-color: #f0f0f0;
  padding:10px;
}

.letter-content p span:nth-of-type(3){
  float: right;
  margin-right:20px;
}

.my-layer-con{
  width:800px;
  height:550px;
}